details {
  background-color: grey;
  border-radius: 5px;
  * {
    padding: 10px;
  }
}
details > :last-child {
  margin-bottom: 10px;
}

summary {
  display: block;
}

summary::after {
  float: right;
  content: "+";
  transition: 0.2s;
}

details[open] > summary::after {
  content: "-";
}
