<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='index.css')}}"
    />
    <title>home</title>
  </head>
  <body>
    <div>
      <a id="expand-all" href="#">expand all</a>
    </div>
    <br />
    <div>
      <details>
        <summary>show product data</summary>

        <div class="details-content">{{ data | safe }}</div>
      </details>

      <details>
        <summary>show product prices chart</summary>
        <div class="details-content">
          <img src="data:image/png;base64, {{ plot }}" />
        </div>
      </details>

      <details>
        <summary>show product summary</summary>
        <div class="details-content">{{ summary | safe }}</div>
      </details>
    </div>
  </body>
</html>
