<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='index.css')}}"
    />

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        for (const el of document.querySelectorAll("summary")) {
          el.addEventListener("click", () => {
            el.innerText = el.innerText.includes("show")
              ? el.innerText.replace("show", "hide")
              : el.innerText.replace("hide", "show");
          });
        }
        document.getElementById("expand-all").addEventListener("click", () => {
          for (const el of document.querySelectorAll("details")) {
            el.hasAttribute("open")
              ? el.removeAttribute("open")
              : el.setAttribute("open", true);
          }
        });
      });
    </script>
    <title>home</title>
  </head>
  <body>
    <div>
      <a id="expand-all" href="#">expand all</a>
    </div>
    <br />
    <div>
      <details>
        <summary>show product data</summary>

        <div class="details-content">{{ data | safe }}</div>
      </details>

      <details>
        <summary>show product prices chart</summary>
        <div class="details-content">
          <img src="data:image/png;base64, {{ plot }}" />
        </div>
      </details>

      <details>
        <summary>show product summary</summary>
        <div class="details-content">{{ summary | safe }}</div>
      </details>
    </div>
  </body>
</html>
